{% assign all_content = site.posts | concat: site.pages | concat: site.people %}
{% assign target_folders = include.folder | split: "," %}

{% for item in all_content %}
  {% if item.date and item.url != "/" and item.url != "/tags.html" and item.url != "/news/" %}
    
    {% comment %} 
      1. ИСПРАВЛЕННЫЙ И БЕЗОПАСНЫЙ БЛОК УНИВЕРСАЛЬНОЙ ФИЛЬ Tracy:
      Тег if теперь открыт строго по правилам Liquid-синтаксиса.
    {% endcomment %}
    {% assign is_allowed = true %}
    {% if include.folder and include.folder != "" %}
      {% assign is_allowed = false %}
      {% for folder_name in target_folders %}
        {% assign clean_folder = folder_name | strip %}
        {% comment %} Проверяем физический путь ИЛИ реальную ссылку URL постов/страниц {% endcomment %}
        {% if item.path contains clean_folder or item.url contains clean_folder %}
          {% assign is_allowed = true %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if is_allowed %}
    
      {% assign is_post = false %}
      {% if item.path contains '_posts' %}{% assign is_post = true %}{% endif %}
      
      {% comment %} 
        2. ИСПРАВЛЕННЫЙ БЛОК ЭМОДЗИ: Индекс [1] возвращен на место для точного поиска страниц
      {% endcomment %}
      {% assign url_parts = item.url | split: "/" %}
      {% assign first_folder = url_parts[1] %}
      {% assign item_section = "/" | append: first_folder | append: "/" %}
      
      {% if item.path contains '_posts' %}
        {% assign first_cat = item.categories | first %}
        {% assign item_section = "/" | append: first_cat | append: "/" %}
      {% endif %}
      
      {% assign parent_page = site.pages | where: "permalink", item_section | first %}
      {% assign section_emoji = parent_page.emoji | default: "" %}

      {% comment %} РЕНДЕРИНГ ДИЗАЙНА {% endcomment %}
      {% if include.type == "home" %}
        <!-- Компактный стиль для Главной страницы -->
        <li class="update-item news-item-compact" data-date="{{ item.date | date: '%Y-%m-%d' }}" data-is-post="{{ is_post }}" data-emoji="{{ section_emoji }}" style="display: none;">      
          <small>{{ item.date | date: "%d.%m.%Y" }}&nbsp;»&nbsp;</small> 
          <a href="{{ item.url | relative_url }}" class="item-link">
            {{ item.title }}
          </a>
        </li>
      {% elsif include.type == "news" %}
        <!-- Широкий стиль с линиями для страницы Новостей и Журнала -->
        <li class="update-item" data-date="{{ item.date | date: '%Y-%m-%d' }}" data-is-post="{{ is_post }}" data-emoji="{{ section_emoji }}" style="display: none; margin-bottom: 12px; border-bottom: 1px solid #f0f0f0; padding-bottom: 8px;">
          <div>
            <span>{{ item.date | date: "%d.%m.%Y" }}&nbsp;»&nbsp;</span>
            <span>
              <a href="{{ item.url | relative_url }}" class="item-link" style="text-decoration: none;">
                {{ item.title }}
              </a>
            </span>
          </div>
        </li>
      {% endif %}


    {% endif %}
  {% endif %}
{% endfor %}
