{% comment %} 
=============================================================================
МОДУЛЬ: ЛОКАЛЬНЫЙ ЖУРНАЛ ПРОЕКТА (_includes/project-loop.liquid)
Назначение: Автоматически собирает кастомные коллекции постов конкретного робота.
Применяется: Только на внутренних страницах проектов (например, у Картонного робота).
Связи: Фильтрует записи по параметру include.folder и include.collection.
=============================================================================
{% endcomment %}

{% comment. %} Выбираем нужную коллекцию в зависимости от запроса страницы {% endcomment %}
{% if include.collection == "journal" %}
  {% assign current_collection = site.journal %}
{% elsif include.collection == "media" %}
  {% assign current_collection = site.media %}
{% else %}
  {% assign current_collection = site.journal | concat: site.media %}
{% endif %}

{% for item in current_collection %}
  {% comment %} 
    ПОДСТРАХОВКА ДАТЫ ДЛЯ КОЛЛЕКЦИЙ:
    Если в Front Matter файла забыли указать дату, вытаскиваем год/месяц из его пути на диске
  {% endcomment %}
  {% assign item_date = item.date %}
  {% if item_date == nil and item.path contains "202" %}
    {% assign path_parts = item.path | split: "/" %}
    {% for part in path_parts %}
      {% if part contains "202" %}
        {% assign item_date = part %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% comment %} 
    ФИЛЬТРАЦИЯ: Проверяем, относится ли этот файл к папке текущего робота
  {% endcomment %}
  {% assign is_allowed = false %}
  {% if include.folder and include.folder != "" %}
    {% if item.path contains include.folder or item.url contains include.folder %}
      {% assign is_allowed = true %}
    {% endif %}
  {% else %}
    {% assign is_allowed = true %}
  {% endif %}

  {% if is_allowed and item.url != "/" %}
    {% assign is_post = true %}
    {% if include.collection == "media" %}{% assign is_post = false %}{% endif %}

    {% comment %} РЕНДЕРИНГ КОМПАКТНОЙ СТРОКИ (Стиль главной страницы для карточки проекта) {% endcomment %}
    <li class="update-item news-item-compact" data-date="{{ item_date | date: '%Y-%m-%d' }}" data-is-post="{{ is_post }}" data-emoji="">      
      <small>{% if item_date %}{{ item_date | date: "%d.%m.%Y" }}{% else %}запись{% endif %}&nbsp;»&nbsp;</small> 
      <a href="{{ item.url | relative_url }}" class="item-link">
        {{ item.title }}
      </a>
    </li>
  {% endif %}
{% endfor %}
